<footer class="p-mt-5 p-p-3 p-shadow-3">
    <div class="p-grid">
        <div class="p-col">
            <p>© 2023 MeshStore. All rights reserved.</p>
        </div>
        <div class="p-col">
            <p>Follow us on:</p>
            <a href="https://facebook.com" class="p-mr-2"><i class="pi pi-facebook"></i></a>
            <a href="https://twitter.com" class="p-mr-2"><i class="pi pi-twitter"></i></a>
            <a href="https://instagram.com"><i class="pi pi-instagram"></i></a>
        </div>
    </div>
</footer>