<div class="card">
    <p-table [value]="items" [tableStyle]="{ 'min-width': '60rem', 'max-width': '60rem' }">
        <ng-template #caption>
            <div class="flex items-center justify-between">
                <span class="text-xl font-bold">Carrito</span>
                <p-button icon="pi pi-refresh" rounded raised />
            </div>
        </ng-template>
        <ng-template #header>
            <tr>
                <th>Name</th>
                <th>Image</th>
                <th>Price</th>
                <th>Quantity</th>
            </tr>
        </ng-template>
        <ng-template #body let-product>
            <tr>
                <td>{{ product.title }}</td>
                <td>
                    <img
                        [src]="product.image"
                        [alt]="product.title"
                        class="w-24 rounded"
                    />
                </td>
                <td>{{ product.price | currency: 'USD' }}</td>
                
                <td>
                    <p-inputnumber [(ngModel)]="product.quantity" [showButtons]="true" 
                        buttonLayout="horizontal" inputId="horizontal" spinnerMode="horizontal" [step]="1" inputId="mile" suffix=" pc" [inputStyle]="{ width: '5rem' }">
                        <ng-template #incrementbuttonicon>
                            <span class="pi pi-plus"></span>
                        </ng-template>
                        <ng-template #decrementbuttonicon>
                            <span class="pi pi-minus"></span>
                        </ng-template>
                    </p-inputnumber>
                </td>
            </tr>
        </ng-template>
        <ng-template #footer> In total there are {{ items ? items.length : 0 }} products. </ng-template>
    </p-table>
</div>