@import "primeflex/primeflex.css";
@import "primeicons/primeicons.css";


body {
    font-family: var(--font-family);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
} 

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer tailwind-base, primeng, tailwind-utilities;

@layer tailwind-base {
    @tailwind base;
}

@layer primeng {
    /* Add any PrimeNG-specific customizations here, if needed */
}

@layer tailwind-utilities {
    @tailwind components;
    @tailwind utilities;
}